
/* general */

body {
	font-family: arial;
}

body .flexbox {
	display: flex;
	justify-content: center;
}

body .flexbox .flex {
	flex: auto;
	margin: 4px;
}

.box {
	padding: 4px;
	border: 1px solid black;
	overflow: auto;
}

.center {
	text-align: center;
	margin: auto;
}

.right {
	text-align: right;
	margin: auto;
}

body > div.main-content {
	margin: auto;
	width: 50%;
}

body .gridbox {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;
}

button.button {
	display: block;
	width: 100%;
	margin: 8px 0;
	height: 40px;
	font-size: 12pt;
}

/* logs */

.logs {
	margin: 0;
	width: 100%;
	background-color: #cccccc;
	height: 100px;
	padding: 4px;
	overflow: auto;
}

.logs .line {
	display: block;
	text-wrap: nowrap;
}

/* home page*/

body > div.home-page-box {
	width: fit-content;
	margin: auto;
}

body > div.home-page-box iframe {
	width: 100%;
	padding: 0;
}

body > div.home-page-box > .gridbox > :nth-child(1){
	grid-row: 1;
	margin: 4px;
	height: 20em;
}

body > div.home-page-box > .gridbox > :nth-child(2){
	grid-row: 1;
	margin: 4px;
	height: 20em;
}

body > div.home-page-box > .gridbox > :nth-child(3){
	grid-row: 2;
	grid-column: 1 / span 2;
	margin: 4px;
}

body > div.home-page-box div.statistics {
	display: table;
	text-align: center;
}

body > div.home-page-box div.statistics > * {
	display: table-cell;
	width: 50%;
}

body > div.home-page-box div.statistics > * > p {
	margin: 8px;
}

body > div.home-page-box div.statistics > * > :nth-child(1) {
	font-size: 20pt;
}

.home-page-button {
	width: 100%;
	height: 40px;
	margin: 4px 0;
	font-size: 12pt;
}

iframe#record {
	margin:0;
	border:0;
	padding:0;
	height:100%;
}

/* registration */

body > div.registration-box1 {
	width: fit-content;
	margin: auto;
}

form[name="registration"] > input[type="text"], form[name="registration"] > input[type="email"] {
	display: block;
	margin: 8px 0;
	width: calc(100% - 8px);
	height: 2em;
	font-size: 12pt;
}

form[name="registration"] > button {
	display: block;
	width: 100%;
	height: 40px;
	font-size: 12pt;
}

form[name="registration"] > label {
	max-width: 400px;
}

body > div.registration-box2 {
	width: fit-content;
}

body > div.registration-box2 .gridbox > :nth-child(1) {
	grid-row: 1; 
	margin: 4px;
}

body > div.registration-box2 .gridbox > :nth-child(2) {
	grid-row: 1; 
	margin: 4px;
}

/* verification */
body > div.verification-box {
	margin: auto;
}

body > div.verification-box > .gridbox > :nth-child(1){
	grid-row: 1;
	margin: 4px;
}

body > div.verification-box > .gridbox > :nth-child(2){
	grid-row: 1;
	margin: 4px;
}

body > div.verification-box > .gridbox > :nth-child(3){
	grid-row: 2;
	margin: 4px;
	grid-column: 1 / span 2;
	padding: 4px 0 0 0;
}

/* records */

.searchbar {
	display: block;
	margin: 8px 0;
	width: calc(100% - 8px);
	height: 24px;
	font-size: 12pt;
}

table.records {
	width: 100%;
	border: 1px solid #000;
	border-collapse: collapse;
	font-size: 10pt;
}

table.records td, table.records th  {
	border: 1px solid #000;
	padding: 4px;
}

/* embedded records */
body.embedded {
	margin: 0;
}

/* archive */

ul#dateList {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul#dateList a {
	text-decoration: none;
}

/* for mobile compatibility */
@media only screen and (max-width: 665px) {
	body > div.home-page-box > .gridbox {
		grid-template-columns: 1fr;
	}
	
	body > div.home-page-box > .gridbox > :nth-child(2){
		grid-row: 2;
		height: fit-content;
	}
	
	body > div.home-page-box > .gridbox > :nth-child(3){
		grid-row: 3;
	}
	
	body > div.home-page-box div.statistics > * {
		display: table-row;
		width: initial;
	}
	
	body > div.verification-box > .gridbox > :nth-child(2){
		grid-row: 2;
	}

	body > div.verification-box > .gridbox > :nth-child(3){
		grid-row: 3;
	}
	
	body > div.registration-box2 .gridbox > :nth-child(2) {
		grid-row: 2; 
	}
}
